<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Result</title>
</head>
<body>
    <div style="display: grid; place-items: center;">
        <h3>ADD POLLING UNIT RESULT</h3>
    </div>
    <div style="display: grid; place-items: center;">
        <form method="post">
            <input type="number" placeholder="Ward ID" id="ward_id" name="ward_id"><br><br>
            <input type="text" placeholder="Ward name" id="ward_name" name="ward_name"><br><br>
            <input type="number" placeholder="Total votes" id="total_id" name="total_votes"><br><br>
            <input type="number" placeholder="LGA ID" id="lga_id" name="LGA"><br><br>
            <textarea placeholder="Ward description" id="description_id" name="description"></textarea><br><br>
            <input type="text" placeholder="Entered By" id="entered_by" name="entered_by"><br><br>
            <input type="datetime" placeholder="Date entered" id="date_entered" name="date_entered"><br><br>
            <input type="text" placeholder="User IP Address" id="ip_id" name="user_ip_address"><br><br>
            <button type="submit">ADD</button>
        </form>
    </div>
</body>
</body>
</html>