<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>total result</title>
</head>
<body>
    <div style="display: grid; place-items: center;">
        <h3>WARD RESULT</h3>
        {% for instance in ward_result %}
        <p>Ward name: {{ instance.ward_name }}</p>
        <p>Total votes: {{ instance.total_votes }}</p>
        <p>Ward ID: {{ instance.ward_id }}</p>
        <p>Entered by: {{ instance.entered_by_user }}</p>
        {% endfor %}
    </div>
</body>
</html>